@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@using BugTracker.Domain;

@model Bug

@{
    ViewBag.Title = "Details";
}

@{
    var camelCaseFormatter = new JsonSerializerSettings();
    camelCaseFormatter.ContractResolver = new CamelCasePropertyNamesContractResolver();
    
    var notes = JsonConvert.SerializeObject(Model.Notes, camelCaseFormatter);
}

@section scripts {
    <script src="~/Scripts/react-0.13.1.js"></script>
    @Scripts.Render("~/bundles/flux")
    @Scripts.Render("~/bundles/bug-notes")

    <script type="text/javascript">
        React.render(new NotesFactory({ notes: @Html.Raw(notes), bugId: @Model.Id }), document.getElementById('notes-mount-point'));
    </script>
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Bug Details</h3>
        </div>
        <div class="panel-body">
            <div>
                <p><label>Bug Id: </label>@Model.Id</p>
                <p><label>Title: </label>@Model.Title</p>
                <p><label>Description: </label>@Model.Description</p>
                <p><label>Status: </label>@Model.Status</p>
                <p><label>Created Date: </label>@Model.CreatedDate</p>
                <p><label>Last Activity Date: </label>@Model.LastActivityDate</p>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Notes</h3>
        </div>
        <div class="panel-body">
            <div id="notes-mount-point"></div>
        </div>
    </div>
</div>

